input[type=file] {
  opacity: 0.0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer
}

.svg-color {
  fill: #006df0;
}

input[type=number] {

}

.far {
  font-size: 25px;
}

