<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="text-center mb-3">
      <!-- <img src="assets/comQUIZ.png" class="img-fluid" alt="Benvenuto su comQUIZ" width="400" height="400" > -->
      <svg
        class="svg-color"
        version="1.1"
        id="Livello_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        width="400"
        height="400"
        viewBox="0 0 1868.5 1112.5"
        enable-background="new 0 0 400 400"
        xml:space="preserve"
      >
        <g>
          <path
            d="M190.2,85.8c-17.1,1.8-35.5,8-55.1,15.3c-34.3,14.7-58.4,38.3-78,62.7c-19.6,24.5-20.8,54.2-6.2,93.3l79.6-33.7
             c-4.9-14.7-4.9-30,0-39.8c4.9-9.8,14.4-19.6,29.1-24.5c14.7-4.9,28.5-4.9,38.3,0c14.7,4.9,25.7,19,30.6,33.7s9.5,29.7,4.6,44.4
             c0,14.7-5.5,29.7-15.3,44.4c-14.7,24.5-24.2,43.5-29.1,58.1c0,14.7-0.6,35.2,9.2,59.7l79.6-24.5c-4.9-14.7-10.7-30-10.7-39.8
             s5.5-23.9,15.3-33.7c14.7-19.6,24.2-44.4,29.1-68.9s5.2-49-4.6-73.4c-14.7-34.3-39.5-59.1-68.9-68.9
             C222.9,85.4,207.3,83.9,190.2,85.8z M531.4,85.8c-58.8,0-117.5,9.2-171.4,33.7v6.1c14.7,24.5,19.9,57.8,19.9,87.2
             c49-19.6,97.6-29.1,151.5-29.1c215.4,0,391.7,176.3,391.7,391.7S746.8,967.1,531.4,967.1S139.7,790.8,139.7,575.4
             c0-24.5-0.3-44.4,4.6-68.9l-33.7-82.6c-9.8-24.5-15.6-49.3-10.7-68.9v-9.2c-39.2,68.5-58.1,146.3-58.1,229.5
             c0,269.4,220.3,489.7,489.6,489.7S1021,844.7,1021,575.4S800.7,85.8,531.4,85.8z M482.4,379.5c-54.1,0-97.9,43.8-97.9,97.9
             s43.8,97.9,97.9,97.9s97.9-43.8,97.9-97.9C580.3,423.4,536.5,379.5,482.4,379.5z M776.2,379.5c-54.1,0-97.9,43.8-97.9,97.9
             s43.8,97.9,97.9,97.9s97.9-43.8,97.9-97.9C874.1,423.4,830.3,379.5,776.2,379.5z M295.7,413.2l-78,30.6l24.5,67.3l78-29.1
             L295.7,413.2z M707.3,624.3c-269.3,0-313.7,244.8-313.7,244.8c4.9-4.9,122.7-102.5,313.7-102.5c39.2,0,68.9-29.7,68.9-68.9
             C776.2,658.6,746.5,624.3,707.3,624.3z"
          />
        </g>
        <g>
          <g>
            <path
              d="M1109.656,63.541c8.297-0.23,15.862-0.767,22.701-1.613c6.835-0.843,14.825-0.728,23.969,0.346
               c9.14,1.077,16.709,2.69,22.701,4.84c5.992,2.153,10.717,4.458,14.174,6.914c3.457,2.459,6.413,5.034,8.873,7.721
               c2.456,2.69,4.84,5.456,7.145,8.297c2.305,2.845,4.148,6.838,5.531,11.984c1.383,5.149,2.074,13.637,2.074,25.467v93.109h-59
               V153.77c0-13.367-1.498-21.124-4.494-23.277c-2.996-2.15-7.8-3.227-14.404-3.227c-6.608,0-11.293,1.152-14.059,3.457
               s-4.148,9.528-4.148,21.664v250.98c0,7.991,0.922,13.637,2.766,16.939c1.844,3.306,6.72,5.149,14.635,5.531
               c7.911,0.385,13.173-1.268,15.787-4.955c2.61-3.688,3.918-9.37,3.918-17.055l0.461-123.992h58.539v143.352
               c-0.771,15.521-2.729,26.965-5.877,34.34c-3.151,7.375-6.338,12.485-9.564,15.326c-3.227,2.845-6.032,5.456-8.412,7.836
               c-2.384,2.38-7.685,4.57-15.902,6.568c-8.222,1.995-17.861,2.917-28.924,2.766c-11.063-0.155-20.091-0.771-27.08-1.844
               c-6.993-1.077-11.603-1.999-13.828-2.766c-2.229-0.771-5.034-1.613-8.412-2.535c-3.382-0.922-7.646-3.342-12.791-7.26
               c-5.149-3.918-8.988-7.872-11.523-11.869c-2.535-3.994-4.955-9.334-7.26-16.018s-4.148-20.242-5.531-40.678V139.48
               c0-23.353,1.037-37.873,3.111-43.559c2.074-5.683,5.106-11.099,9.104-16.248c3.993-5.146,8.873-9.064,14.635-11.754
               C1094.33,65.233,1101.359,63.771,1109.656,63.541z"
            />
            <path
              d="M1235.262,397.836V146.625c0-36.414,4.224-59.151,12.676-68.219c8.448-9.064,28.423-13.598,59.922-13.598
               c31.805,0,51.931,4.725,60.383,14.174c8.448,9.449,12.676,31.999,12.676,67.643v251.211c0,35.647-4.379,58.388-13.137,68.219
               c-8.758,9.067-28.427,13.598-59,13.598c-32.114,0-52.396-4.53-60.844-13.598C1239.485,456.685,1235.262,433.944,1235.262,397.836z
                M1322.84,136.945c0-11.83-5.07-17.746-15.211-17.746c-9.219,0-13.828,5.917-13.828,17.746v271.031
               c0,11.523,5.07,17.285,15.211,17.285c5.222,0,8.833-1.268,10.832-3.803c1.995-2.535,2.996-7.029,2.996-13.482V136.945z"
            />
            <path
              d="M1399.586,478.961l-0.23-413.461h89.883l30.652,264.809L1543.859,65.5h90.805v413h-50.242V159.762L1548.93,478.73
               l-64.531-0.23l-34.801-316.203v316.664H1399.586z"
            />
            <path
              d="M1403.504,962.854c0,33.343-3.457,54.7-10.371,64.07c-6.453,9.374-19.208,14.599-38.258,15.672l2.535,1.844
               c6.759,1.383,12.366,2.341,16.824,2.881c4.454,0.536,8.679,0.807,12.676,0.807c1.228,0,2.766-0.115,4.609-0.346
               s4.224-0.501,7.145-0.807h1.383l-23.508,43.789c-12.14-2.46-23.623-7.53-34.455-15.211c-10.832-7.685-21.628-18.517-32.381-32.496
               c-17.671-1.995-29.694-7.681-36.068-17.055c-6.378-9.37-9.564-30.422-9.564-63.148V713.256c0-35.644,4.379-57.999,13.137-67.066
               c8.448-9.37,27.501-14.059,57.156-14.059c29.039,0,47.707,4.84,56.004,14.52c8.758,9.68,13.137,31.884,13.137,66.605V962.854z
                M1335.055,989.818c5.683,0,9.716-1.268,12.1-3.803c2.38-2.535,3.572-6.95,3.572-13.252V703.346
               c0-6.298-1.192-10.717-3.572-13.252c-2.384-2.535-6.417-3.803-12.1-3.803c-5.531,0-9.489,1.152-11.869,3.457
               c-2.384,2.305-3.572,6.839-3.572,13.598v269.418C1319.613,984.136,1324.759,989.818,1335.055,989.818z"
            />
            <path
              d="M1594.102,631.9v254.668c0,40.411-0.731,69.256-2.189,86.541c-1.462,17.285-5.301,31.077-11.523,41.369
               c-6.223,10.296-15.481,19.244-27.771,26.85c-12.294,7.605-26.273,11.408-41.945,11.408c-17.364,0-32.651-4.073-45.863-12.215
               c-13.216-8.142-23.087-18.743-29.615-31.805c-6.532-13.058-10.411-26.85-11.639-41.369c-1.231-14.52-1.844-45.057-1.844-91.611
               V631.9h64.531v302.836c-0.461,20.591,0,33.764,1.383,39.525s7.987,10.181,19.82,13.252c12.445-3.071,19.359-7.335,20.742-12.791
               c1.383-5.452,2.074-18.474,2.074-39.064V631.9H1594.102z"
            />
            <path d="M1612.539,632.131h52.547v413.23h-52.547V632.131z" />
            <path
              d="M1683.754,986.822l59.461-299.148h-51.855V631.67h124.223v56.004l-59.461,299.148h59.461v58.078h-131.828V986.822z"
            />
          </g>
        </g>
      </svg>
    </div>
  </div>
</div>

<h2 class="text-center">Benvenuto su comQUIZ</h2>
<p class="lead text-center font-weight-normal">
  Per cominciare carica un quiz e scegli il numero di domande
</p>
<div class="row mt-2 mb-2">
  <div class="col-md-3 mb-3 mt-3 mx-auto">
    <div class="input-group input-group-lg text-center">
      <div class="input-group-prepend">
        <span class="input-group-text" id="questions-num">N° Domande</span>
      </div>
      <input
        type="number"
        class="form-control"
        aria-describedby="questions-num"
        (change)="checkInput($event)"
        min="1"
        max="15"
        value="15"
      />
    </div>
    <small>Puoi selezionare un massimo di 65 domande</small>
  </div>
</div>
<div class="row mt-3">
  <div class="col text-center">
    <input
      type="file"
      accept=".json,application/json"
      (change)="getJsonFile($event)"
    />
    <button class="btn btn-outline-primary btn-lg">
      <i class="far fa-hdd"></i>
      Carica un quiz da un file json
    </button>
  </div>
</div>
