<div class="row">

  <div class="offset-2 col-md-8 mt-5">
    <div class="text-center mt-5">
      <h3>Quiz Concluso!</h3>
    </div>
    <p class="lead text-center">Risposte corrette : {{this.countCorrect}} su {{this.questionNum}}</p>
    <p class="lead text-center">Hai Risposto correttamente al {{this.percentage}}% delle domande</p>
    <button class="btn btn-outline-primary btn-block" (click)="backToHome()">
      Torna alla Home
    </button>
  </div>
</div>
