<div class="justify-content-center mt-4">

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-danger" (click)="goToHome()">
        <i class="fas fa-sign-out-alt"></i>
         Esci dal quiz
      </button>
    </div>
    <div class="col">
      <button class="btn btn-warning" (click)="showResponse()">
        <i class="fas fa-exclamation-triangle"></i>
        Ho risposto correttamente?
      </button>
      <button class="btn btn-success ml-2" (click)="endQuiz()">
        <i class="fas fa-clipboard-check"></i>
        Conferma Quiz
      </button>
    </div>
  </div>

  <div class="row mt-3 mb-0" *ngIf="currentQuestion">
    <div class="col">
      <p class="lead mt-3 text-center">Domanda {{this.questionIndex + 1}} di {{this.questionNum}}</p>
      <br>
      <p class="h6 question">
        {{this.currentQuestion.question}}
      </p>
    </div>
  </div>

  <div class="row mt-2" *ngIf="currentQuestion">
    <div class="offset-1 col">
      <div class="custom-control custom-checkbox mb-2" *ngFor="let res of currentQuestion.responses; let i = index;">
        <input type="checkbox" class="custom-control-input" id="customCheck{{i}}" (change)="checkQuizInput($event, i)" checked="{{res.userRes ? 'checked' : ''}}">
        <label class="custom-control-label" for="customCheck{{i}}">{{res.response}}</label>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row mb-5 fixed-bottom">
      <div class="col text-center">
        <button class="btn btn-primary" (click)="goBack()">
          <i class="fas fa-arrow-left"></i>
          Indietro
        </button>
      </div>
      <div class="col text-center mt-2">
        <p>{{this.questionIndex + 1}} di {{this.questionNum}}</p>
      </div>
      <div class="col text-center">
        <button class="btn" [ngClass]="lastQuestion ? 'btn-success' : 'btn-primary' " (click)="goAway()">
          {{lastQuestion ? 'Conferma Quiz' : 'Avanti' }} <i class="fas"
            [ngClass]="lastQuestion ? 'fa-clipboard-check' : 'fa-arrow-right' "></i>
        </button>
      </div>
    </div>
  </div>

</div>

